<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FirstListener</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>youth.hong.FirstListener.ServletListener</listener-class>
  </listener>
  
  <listener>
  	<listener-class>youth.hong.FirstListener.SessionListener</listener-class>
  </listener>
  
  <listener>
  	<listener-class>youth.hong.FirstListener.RequestAttrListener</listener-class>
  </listener>
  
   <listener>
  	<listener-class>youth.hong.FirstListener.SessionAttrListener</listener-class>
  </listener>
  
   <listener>
  	<listener-class>youth.hong.FirstListener.ContextAttrListener</listener-class>
  </listener>
  
  <listener>
  	<listener-class>youth.hong.FirstListener.RequestListener</listener-class>
  </listener>
  
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config>
  
  <context-param>
  	<param-name>hello</param-name>
  	<param-value>imooc</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>TestLoadStartUp</servlet-name>
  	<servlet-class>youth.hong.testloadstartup.TestLoadStartUp</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>TestLoadStartUp</servlet-name>
  	<url-pattern>/TestLoadStartUp</url-pattern>
  </servlet-mapping>
</web-app>